<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />



        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->


        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".FirstWindowActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginWindowActivity"
            android:exported="true"></activity>
        <activity
            android:name=".RegisterWindow1Activity"
            android:exported="true"></activity>
        <activity
            android:name=".RegisterWindow2Activity"
            android:exported="true"></activity>
        <activity
            android:name=".RegisterWindow3Activity"
            android:exported="true"></activity>
        <activity
            android:name=".CyclePrediction"
            android:exported="true"
            tools:ignore="Instantiatable"></activity>
        <activity
            android:name=".MainWindowPeriodActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ModifyVisitActivity"
            android:exported="true"></activity>
        <activity
            android:name=".MapActivityPlaces"
            android:exported="true"></activity>
        <activity
            android:name=".MainWindowPregnancyActivity"
            android:exported="true"></activity>
        <activity
            android:name=".CalendarActivity"
            android:exported="true"></activity>
        <activity
            android:name=".DayPeriodActivity"
            android:exported="true"></activity>
        <activity
            android:name=".DayPregnancyActivity"
            android:exported="true"></activity>
        <activity
            android:name=".MedicineActivity"
            android:exported="true"></activity>
        <activity
            android:name=".AddMedicineActivity"
            android:exported="true"></activity>
        <activity
            android:name=".AdditionalInformationActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SettingsWindowActivity"
            android:exported="true"></activity>
        <activity
            android:name=".AccountWindowActivity"
            android:exported="true"></activity>
        <activity
            android:name=".PregnancyBegginingActivity"
            android:exported="true"></activity>
        <activity
            android:name=".PeriodEndingActivity"
            android:exported="true"></activity>
        <activity
            android:name=".DoctorVisitsActivity"
            android:exported="true"></activity>
        <activity
            android:name=".PeriodBegginingActivity"
            android:exported="true"></activity>
        <activity
            android:name=".RegisterWindow2DoctorActivity"
            android:exported="true"></activity>
        <activity

            android:name=".ChatDoctorActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ChatUserActivity"

            android:exported="true"></activity>
        <activity
            android:name=".AccountWindowDoctorActivity"
            android:exported="true"></activity>
        <activity

            android:name=".MessageChatActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ModifyMedicineActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ChangePassword"
            android:exported="true"></activity>
        <!--        <activity-->
        <!--            android:name=".MapsActivity"-->
        <!--            android:exported="true"></activity>-->

        <activity
            android:name=".AddVisitActivity"
            android:exported="true"></activity> <!-- <activity android:name=".MyApp"> -->
        <!-- </activity> -->
        <receiver android:name=".MedicineReminderReceiver" />
        <receiver android:name=".visitReminder" />
        <receiver android:name=".periodReminder" />
        <receiver
            android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>